body{
	margin:0;
	font-family:'Open Sans', sans-serif;

}
.test{
	background: pink;
	height: 100px;
}
header{
	background:#ffffff;
	padding-top:15px;

}
.center{
	width: 960px;
	margin: auto;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
img{
	display: block;
	max-width: 100%;
}

.logo{
	float: left;
}


form{
	float: right;

}
form h3{
	font-size: 24px;
	color: #007dd1;
	font-weight:300;
	margin: 0;

}
.login{
	border: 1px solid #ccc;
	padding: 6px 0;
	margin-top:3px;
	
}
.login span{
	float: left;
	font-size: 13px;
	padding-left: 12px;
	padding-right: 45px;
	color: #8b8b8b;
}
.login small{
	float: left;
	height: 15px;
	width: 1px;
	background: #afafaf;
}
 .login ins{
 	float: left;
 	padding-left:9px;
 	padding-right: 11px;

}
form a{
	float: left;
	margin:6px 10px 0 0;
	font-size: 12px;
	color: #007dd1;

}
header .sign-up{
	border: 1px solid #ccc;
	margin-top: 3px;
}
header input{
	float: left;
	width:86px;
	padding:0 12px;
	height: 30px;
	line-height: 30px;
	font-size:13px;
	font-weight: 400;
	color: #8a8a8a8a;
	border: none;
	background: transparent;
	/*outline: none;*/
}
header .login-submit{
	width: 34px;
	background:url(../images/p.png) center center no-repeat;
	cursor: pointer;
}
header span{

	float: left;
	background: #ccc;
	height: 16px;
	width: 1px;
	margin-top: 7px;

}
nav{
	background:#004888;
	border-bottom:1px solid #4074a2;
	margin-top:12px;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	float: left;
	list-style: none;
}
nav a{
	display: block;
	font-size: 15px;
	color: #ffffff;
	height: 44px;
	line-height: 44px;
	margin-right:23px;
	text-decoration: none;

}
nav .active-menu{
	background:#007ccf;
	padding: 0 14px;
}
nav a:hover{
	color:#f7e908;
	transition: -2s;


}
.banner{
	background:#007dd1;
	border-top:6px solid #003769;
}
.banner-images{
	float: left;
	width: 560px;
}
.right-col{
	float:right;
	width: 400px;
	height: 329px;
	padding: 0 0 50px 40px;
	box-sizing: border-box;
	background:#0373d2 url(../images/bg.png) -30px  bottom no-repeat;

}
.right-col h3{
	font-size: 34px;
	color: #ffffff;
	font-weight: 300;
	margin: 28px 0 0 0;
	line-height: 36px;

}
.right-col p{
	font-size: 18px;
	margin: 14px 0 0 0;
	color: #ffffff;
	line-height: 26px;
}
.btn{
	margin:0;
	background:#fff url(../images/btn.png) 160px 8px no-repeat;
	font-size: 20px;
	color:#007dd1;
	display: inline-block;
	padding-left: 15px;
	padding-right: 57px;
	height: 39px;
	line-height: 39px;
	text-decoration: none;
	margin-top: 21px;
}
.banner .btn:hover{
	background:#007dd1 url(../images/btn1.png)160px 8px no-repeat;
	transition: 1s;
	color:yellow;
}
.content{
	background: #ffffff;
	padding-top: 40px;
	padding-bottom: 41px;

}
.left-content{
	float: left;
	width: 560px;
}
.left-content h3{
	margin: 0;
	font-size: 42px;
	color: #007dd1;
	font-weight: 300;
}
.left-content p{
	margin:9px 0 0 0;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
}
.left-content p{
	display: inline-block;
	color: #585858;
}
.btn-blue{
	color:#fff;
	background-color:#007dd1;
	background:#00498a url(../images/c.png) 235px 8px no-repeat;
}
.btn-blue:hover{
	background:#007dd1 url(../images/btn1.png)235px 8px no-repeat;
	color:#fff;
	transition:1s;
}
.tabs{
	float: left;
	width: 400px;
}
.tab-bar ul{
	margin: 0;
	padding: 0;
}
.tab-bar li{
	float: left;
	list-style: none;
	margin-right:2px;
}
.tab-bar a{
	display: block;
	background: #fee9b6;
	color: #000000;
	height: 47px;
	line-height: 47px;
	font-size: 16px;
	padding: 0 20px;
	font-weight: 600;
	position: relative;
}
.tab-bar a span{
	background-color:#fdda85;
	position: absolute;
	left: 0;
	top:45px;
	width:100%;
	height:10px;

}
.tab-bar small{
	display:inline-block;
	background:#9d0000;
	border-radius: 5px;
	position: absolute;
	width: 20px;
	height: 17px;
	line-height: 17px;
	padding:0 6px;
	top: -6px;
	right: 5px;
	text-align: center;
	color:#fff;
	font-weight: bold;
	box-sizing: border-box;

}
.tab-bar ins{
	position: absolute;
	border-left: 5px solid #9d0000;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	left: 0;
	top: 10px;
}

.tab-bar .active-tab{
	background: #fdda80;
	border: 1px solid#caae6a;
}
.tab-contents{
	background:#fdda85;
	padding: 24px;
	border: 1px solid#caae6a;
}
.tab-contents ul{
	margin: 0;
	padding: 0;
	height: 180px;
	overflow: auto;
}
.tab-contents li{
	list-style: none;
	margin-bottom: 18px;
}
.tab-date{
	width: 65px;
	float: left;
	margin-right: 15px;
}
.tab-date strong{
	display: block;
	text-align: center;
	font-size: 32px;
	height: 39px;
	line-height: 39px;
	background: #9d0000;
	color: #fff;
}
.tab-date span{
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background: #3f0000;
	color: #fff;
	height: 25px;
	line-height: 25px;
}
.tab-details{
	width:246px;
	float: left;
}
.tab-details h3{
	font-size: 13px;
	margin: -3px 0 0 0;
	text-decoration:underline;
	line-height: 17px;
	color: #9d0000;
}
.tab-details  a{
	color: #9d0000;

}
.tab-details p{
	font-size: 12px;
	margin: 4px 0 0 0;
	color: #000000;
	font-weight:600;
	line-height:17px;
}
.detail-content{
	background:#f2f2f2;
	border-top: 2px solid#d9d9d9;
	border-bottom: 2px solid#d9d9d9;
	margin: 0;
	padding-bottom:41px;
	padding-top: 40px;
}
.detail-content img{
	float: left;
}
.tag-details{
	float: left;
	width: 677px;
	color:#007dd1;
	padding-left: 25px;
	box-sizing: border-box;
}
.tag-details h3{
	margin: -9px 0 0 0;
	color:#004c90;
	font-size: 34px;
	font-weight: normal;
	letter-spacing: -1px;
}
.tag-details strong{
	display: inline-block;
	color:#252525;
}
.tag-details span{
	display: inline-block;
	color: #004c90;
	font-weight: 700;
}
.tag-details p{
	float: left;
	font-size: 13px;
	color: #000000;
	line-height: 22px;
	margin:8px 0 0 30px;
	font-weight: normal;
	width: 310px;
	/*letter-spacing: -1px;*/
}
.tag-details div p:first-child{
	margin-left: 0;
}
.nav-grey{
	background:#b2b2b2;
	margin: 0;
}
.nav-grey a{
	color: #ffffff;
	text-decoration: underline;
}
.nav-grey{
	border-bottom:none;
}
footer{
	background:#ffffff;
	padding: 34px;
	border-bottom:1px solid#cccccc;
	
}
footer h3{
	font-size: 14px;
	margin: 0;
	color: #007dd1;
	text-decoration: underline;
}
footer p{
	font-size: 12px;
	margin: 6px 0  0 0;
	color: #000000;
	font-weight:400;
	line-height: 17px;
}
footer .fbox {
	float: left;
	margin-right: 97px;
}

footer .center .fbox:last-child {
	margin-right: 0;
}

.fbox > span {
	display: block;
	margin-top: 7px;
	background: url(../images/call.png) 0 5px no-repeat;
	padding-left: 42px;
}

.fbox > span:first-child {
	margin-top: 0;
}

.fbox > span:last-child {
	background: url(../images/e-mail.png) 0 5px no-repeat;
}

.fbox span strong {
	display: block;
	font-weight:600;
	font-size:14px;
	color:#006fba;
	text-decoration: underline;
}

.fbox span small {
	display: block;
	font-weight:normal;
	font-size:14px;
	color:#000000;

}




.social {
	margin-top: 7px;
}

.social div {
	float: left;
	padding-right: 18px;
}

.copy-right{
	background:#ffffff;
	padding:18px   44px;
}
.all-right{
	float: left;
}
.all-right p{
	font-size: 12px;
	float: left;
	color: #000000;
	font-weight:600;
	margin: 0;
	margin-right: 5px;
}
.all-right a{
	float: left;
	height: 22px;
	margin-left: 5px;
	font-weight:bold;
}
.all-right a img{
	display: inline-block;
	vertical-align: middle;
}